html {
    scroll-behavior: smooth;
}

/* Animaciones */
* {
    animation: appear 0.3s ease-in-out;
}

#mobileMenu,
#mobileMenu * {
    animation: none;
}

#mobileMenu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#mobileMenu>* {
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

#mobileMenu.notShowed>* {
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}


#mobileMenu.notShowed {
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

.nav-desktop__top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.top__first {
    grid-column: 1 / 4;
}

.top__second {
    grid-column: 6 / 8;
    text-align: center;
}

.top__third {
    grid-column: 9 / 13;
    text-align: right;
    justify-items: end;
}

.icono-cuchara {
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    height: fit-content;
    width: fit-content;
}

.nav-desktop__bottom {
    border-top: 1px solid #CECECE;
}

/* Estilos básicos */
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.menu-item {
    position: relative;
    padding: 4px 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-transform: uppercase;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.menu-item:hover {
    color: #B62B36;
    text-decoration: none;
}

/* La barra animada */
.hover-bar {
    position: absolute;
    top: -3px;
    left: 0;
    height: 6px;
    width: 0;
    background-color: #B62B36;
    transition: transform 0.3s ease, width 0.3s ease;
    transform-origin: left;
}

.hero {
    position: relative;
}

.hero > img {
    min-height: 280px !important;
    object-fit: cover;
}

.hero > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
}

.horarios--right {
    background-image: url('../img/home/horariosBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.horarios--form.dis {
    height: 0;
}

.horarios--form.dis>* {
    display: none;
}

.horarios--form {
    height: 100%;
}

#btnReservar.dis {
    display: none;
}

.horario--input {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
    padding: 12px 24px;
}

.horario--input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.horario--input:focus {
    border: 1px solid var(--light-blue);
    outline: none;
}

.concepto__first, .concepto__last {
    position: relative;
}

.concepto__first > img, .concepto__last > img {
    position: absolute;
    top: -60px;
}

.line--red {
    display: block;
    background-color: #B62B36;
    height: 2px;
    width: 120px;
}

.concepto__restaurantes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

.concepto__restaurantes img:first-child {
    grid-column: 1 / 4;
    height: 100%;
    object-fit: cover;

}

.concepto__restaurantes img:nth-child(2) {
    grid-column: 4 / 10;
    height: 100%;
    object-fit: cover;
}

.concepto__restaurantes img:last-child {
    grid-column: 10 / 13;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .nav-desktop__top {
        display: none;
    }

    .concepto__restaurantes img:first-child,
    .concepto__restaurantes img:nth-child(2),
    .concepto__restaurantes img:last-child {
        grid-column: 1 / 13;
    }
}